<div class="register-card">
    <div class="title">
        <p>Inregistrare</p>
        <p class="subtitle">Suntem fericiti ca vrei sa te alaturi comunitatii noastre.</p>
    </div>
    <div class="register-form">
        <form #registerForm="ngForm" (ngSubmit)="save()">
            <div class="register-form-content">
                <div class="column">
                    <div class="row register-row">
                        <div class="name-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Prenume</label>
                                    <input type="text" class="form-control" placeholder="exemplu: Ana"
                                        [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" required />
                                    <div *ngIf="firstName.invalid  && (firstName.dirty || firstName.touched)">
                                        <div class="form-error" *ngIf="firstName.errors?.required">
                                            Prenume nu este valid.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="name-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nume</label>
                                    <input type="text" class="form-control" placeholder="exemplu: Popescu"
                                        [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" required />
                                    <div *ngIf="lastName.invalid  && (lastName.dirty || lastName.touched)">
                                        <div class="form-error" *ngIf="lastName.errors?.required">
                                            Numele nu este valid.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row register-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Numar de telefon</label>
                                <input type="text" class="form-control" placeholder="exemplu: 0712345678"
                                    [(ngModel)]="user.phoneNo" name="phoneNo" #phoneNo="ngModel" required />
                                <div *ngIf="phoneNo.invalid  && (phoneNo.dirty || phoneNo.touched)">
                                    <div class="form-error" *ngIf="phoneNo.errors?.required">
                                        Numarul de telefon nu este valid.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row register-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="exemplu: ana.popescu@yahoo.com"
                                    [(ngModel)]="user.email" name="email" #email="ngModel" required />
                                <div *ngIf="email.invalid  && (email.dirty || email.touched)">
                                    <div class="form-error" *ngIf="email.errors?.required">
                                        Email-ul nu este valid.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="row register-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nume utilizator</label>
                                <input type="text" class="form-control" placeholder="Username"
                                    [(ngModel)]="user.username" name="name" #name="ngModel" required />
                                <div *ngIf="name.invalid  && (name.dirty || name.touched)">
                                    <div class="form-error" *ngIf="name.errors?.required">
                                        Numele de utilizator nu este valid.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row register-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Parola</label>
                                <input [type]="!seePassword ? 'password' : 'text'" class="form-control password-control"
                                    placeholder="Parola" [(ngModel)]="user.password" name="password"
                                    #password="ngModel" required/>
                                <div class="icons">
                                    <i id="eye-open" (click)="hidePassword()" class="fa fa-eye-slash fa-fw"></i>
                                    <i id="eye-close" (click)="showPassword()" class="fa fa-eye fa-fw"></i>
                                </div>
                                <div *ngIf="password.invalid  && (password.dirty || password.touched)">
                                    <div class="form-error">
                                        Parola trebuie sa aiba minim 8 caractere.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row register-row">
                        <div class="col-md-12">
                            <label> Confirmati Parola</label>
                            <input [type]="!seePassword2 ? 'password' : 'text'" class="form-control password-control"
                                placeholder="Repetati parola" [(ngModel)]="userPassword" name="password2" #password2="ngModel"
                                required />
                            <div class="icons">
                                <i id="eye-open2" (click)="hidePassword2()" class="fa fa-eye-slash fa-fw"></i>
                                <i id="eye-close2" (click)="showPassword2()" class="fa fa-eye fa-fw"></i>
                            </div>
                            <div *ngIf="password2.invalid  && (password2.dirty || password2.touched)">
                                <div class="form-error" *ngIf="password2.errors?.required">
                                    Parola nu este valida.
                                </div>
                            </div>
                            <div *ngIf="!passwordConfirmation">
                                <div class="form-error">
                                    Parolele nu coincid.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="register-footer">
                <button type="submit" class="btn btn-outline-dark" [disabled]="!registerForm.form.valid">Inregistreaza</button>
            </div>
        </form>
    </div>
</div>