<div class="rent-container">
  <div class="column-left">
    <div class="column-left-title">
      Noi putem sa te ajutam sa gasesti locuinta potrivita!
    </div>
    <div class="column-left-content">
      <div class="column-left-content-text">
        <p>In contextual actual, pretul locuintelor de inchiriat in Cluj-Napoca este intr-o continua crestere, iar majoritatea oamenilor nu cunosc adevarata valoare a unui apartament.
          Astfel, pretul este stabilit intr-un mod sumar, fiind uzual influentat doar de zona in care se amplaseaza imobilul si de numarul de camere, iar chiriasii trebuie sa petreaca
          o perioada indelungata de timp in gasirea unui apartament cu un pret decent.
        </p>
      </div>
      <div class="column-left-content-picture">
        <img src="../../../assets/img/home2.PNG">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="column-content-text">
      <p>Aceasta aplicatie beneficiaza de beneficiile oferite de inteligenta artificiala realizand o predictie a preturilor in functie de piata actuala, prelevand proprietati de pe site-uri 
        imobiliare populare. Astfel, in loc sa mai stai sa te intrebi daca un apartament merita suma ceruta sa nu, cauta-l la noi pe site si vei vedea care este pretul actual si care este pretul corect. 
      </p>
    </div>
    <div class="column-content">
      <div class="column-content-picture">
        <img src="../../../assets/img/home.PNG">
      </div>
    </div>
  </div>
</div>