.reset-card {
    .title {
        font-size: 90px;
        width: 100%;
        font-weight: 700;
        text-align: center;
    }
    .reset-form {
        width: 100%;

        .reset-form-content {
            width: 65%;
            margin: auto;
            height: 100%;
            padding: 0 20px;
            text-align: center;

            .form-error{
                display: hidden !important;
                position: relative;
                height: 19px;
            }

            .reset-row {
                max-height: 92px;
                min-height: 92px;
            }

            .password-control {
                width: calc(100% - 28px);
            }

            .icons {
                position: absolute;
                width: 30px;
                left: 90%;
                top: 32px;
                margin: auto;
                height: 38px;
                color: black;
                background-color: white;
                display: flex;

                i {
                    margin: auto;
                }

                #eye-open {
                    display: none;
                }

                #eye-close {
                    display: block;
                }

                #eye-open2 {
                    display: none;
                }

                #eye-close2 {
                    display: block;
                }
                #eye-open3 {
                    display: none;
                }

                #eye-close3 {
                    display: block;
                }
            }

        
        }
        .reset-footer {
            width: 100%;
            margin-top: 25px;
            height: 15%;
            text-align: center;
        }
    }

    button{
        color: white;
    }
}
