<div class="reset-card">
    <div class="title">
        <p>Reseteaza Parola</p>
    </div>
    <div class="reset-form">
        <form #resetForm="ngForm" (ngSubmit)="save()">
            <div class="reset-form-content">

                <div class="row reset-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Parola curenta</label>
                            <input [type]="!seePassword ? 'password' : 'text'" class="form-control password-control"
                                placeholder="Parola curenta" [(ngModel)]="oldUserPassword" name="password" #password="ngModel"
                                required />
                            <div class="icons">
                                <i id="eye-open" (click)="hidePassword()" class="fa fa-eye-slash fa-fw"></i>
                                <i id="eye-close" (click)="showPassword()" class="fa fa-eye fa-fw"></i>
                            </div>
                            <div *ngIf="password.invalid  && (password.dirty || password.touched)">
                                <div class="form-error" *ngIf="password.errors?.required">
                                    Parola nu este valida.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row reset-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Parola noua</label>
                            <input [type]="!seePassword2 ? 'password' : 'text'" class="form-control password-control"
                                placeholder="Parola noua" [(ngModel)]="newUserPassword" name="password2" #password2="ngModel"
                                required />
                            <div class="icons">
                                <i id="eye-open2" (click)="hidePassword2()" class="fa fa-eye-slash fa-fw"></i>
                                <i id="eye-close2" (click)="showPassword2()" class="fa fa-eye fa-fw"></i>
                            </div>
                            <div *ngIf="password2.invalid  && (password2.dirty || password2.touched)">
                                <div class="form-error" *ngIf="password2.errors?.required">
                                    Parola nu este valida.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row reset-row">
                    <div class="col-md-12">
                        <label> Confirma Parola Noua</label>
                        <input [type]="!seePassword3 ? 'password' : 'text'" class="form-control password-control"
                            placeholder="Repetati parola noua" [(ngModel)]="newUserPasswordConfirmed" name="password3" #password3="ngModel"
                            required />
                        <div class="icons">
                            <i id="eye-open3" (click)="hidePassword3()" class="fa fa-eye-slash fa-fw"></i>
                            <i id="eye-close3" (click)="showPassword3()" class="fa fa-eye fa-fw"></i>
                        </div>
                        <div *ngIf="password3.invalid  && (password3.dirty || password3.touched)">
                            <div class="form-error" *ngIf="password3.errors?.required">
                                Parola nu este valida.
                            </div>
                        </div>
                        <div *ngIf="!passwordConfirmation">
                            <div class="form-error">
                                Parolele nu sunt identice.
                            </div>
                        </div>
                        <div *ngIf="!passwordValidation">
                            <div class="form-error">
                                Parola curenta nu este valida
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reset-footer">
                <button type="submit" class="btn btn-outline-dark"
                    [disabled]="!resetForm.form.valid">Reseteaza</button>
            </div>
        </form>
    </div>
</div>