
rentPrediction/RentPrediction/.vs/RentPrediction/config/applicationhost.config
rentPrediction/RentPrediction/.vs/RentPrediction/v16/.suo
rentPrediction/RentPrediction/RentPrediction.Business.ML/bin/Debug/netstandard2.0/RentPrediction.BEModels.dll
rentPrediction/RentPrediction/RentPrediction.Business.ML/bin/Debug/netstandard2.0/RentPrediction.BEModels.pdb
rentPrediction/RentPrediction/RentPrediction.Business.ML/bin/Debug/netstandard2.0/RentPrediction.Business.Contracts.dll
rentPrediction/RentPrediction/.vs/RentPrediction/config/applicationhost.config
rentPrediction/RentPrediction/RentPrediction.Business.ML/bin/Debug/netstandard2.0/RentPrediction.Business.Contracts.pdb
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/Debug/netstandard2.0/RentPrediction.Business.ML.assets.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/Debug/netstandard2.0/RentPrediction.Business.ML.assets.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/Debug/netstandard2.0/RentPrediction.Business.ML.assets.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/Debug/netstandard2.0/RentPrediction.Business.ML.csprojAssemblyReference.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/project.assets.json
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/project.nuget.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/RentPrediction.Business.ML.csproj.nuget.dgspec.json
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/RentPrediction.Business.ML.csproj.nuget.g.props
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/RentPrediction.Business.ML.csproj.nuget.g.targets
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/Debug/netstandard2.0/RentPrediction.Data.Contracts.assets.cache
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/project.assets.json
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/project.nuget.cache
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/RentPrediction.Data.Contracts.csproj.nuget.dgspec.json
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/RentPrediction.Data.Contracts.csproj.nuget.g.props
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/RentPrediction.Data.Contracts.csproj.nuget.g.targets
rentPrediction/RentPrediction/RentPrediction.Repo.Contracts/obj/Debug/netstandard2.0/RentPrediction.Repo.Contracts.assets.cache
rentPrediction/RentPrediction/RentPrediction.Repo.Contracts/obj/Debug/netstandard2.0/RentPrediction.Repo.Contracts.csprojAssemblyReference.cache
rentPrediction/RentPrediction/RentPrediction.Repo.Contracts/obj/project.assets.json
*.cache
rentPrediction/RentPrediction/RentPrediction.Repo/obj/Debug/netstandard2.0/RentPrediction.Repo.csprojAssemblyReference.cache
rentPrediction/RentPrediction/RentPredictionML.ConsoleApp/obj/Debug/netcoreapp2.1/RentPredictionML.ConsoleApp.csprojAssemblyReference.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/Debug/netstandard2.0/RentPrediction.Business.ML.csprojAssemblyReference.cache
*.targets
rentPrediction/RentPrediction/tesr/obj/RentPrediction.BEModels.csproj.nuget.dgspec.json
*.cache
rentPrediction/RentPrediction/tesr/obj/project.assets.json
rentPrediction/RentPrediction/tesr/obj/Debug/netstandard2.0/RentPrediction.BEModels.csprojAssemblyReference.cache
rentPrediction/RentPrediction/tesr/obj/Debug/netstandard2.0/RentPrediction.BEModels.assets.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/project.nuget.cache
rentPrediction/RentPrediction/RentPrediction.Business.ML/obj/RentPrediction.Business.ML.csproj.nuget.g.props
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/Debug/netstandard2.0/RentPrediction.Data.Contracts.assets.cache
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/project.assets.json
rentPrediction/RentPrediction/RentPrediction.Data.Contracts/obj/RentPrediction.Data.Contracts.csproj.nuget.dgspec.json
*.cache
/rentPrediction/RentPrediction/RentPrediction.Business.ML/obj
/rentPrediction/RentPrediction/RentPrediction.Business.ML/obj
/rentPrediction/RentPrediction/.vs
