.question-container{
    background-color: white;
    color: black;
    border: 1px solid dimgray;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    .question{
        font-size: 20px;
    font-weight: 900;
    border-bottom: 1px solid;

    }
}