<div class="contact-page">
    <div class="title">
        <p>Buna</p>
        <p class="subtitle">Echipa de suport este aici sa te ajute.</p>
    </div>
    <div class="contact-container">
        <div class="container-title">
            Selecteaza o optiune de mai jos
        </div>
        <div class="contact-actions">
            <button type="button" class="btn btn-outline-dark contact-button" (click)="contactModal.show()">Contact</button>
            <button type="button" class="btn btn-outline-dark contact-button" (click)="goToQuestions()">Intrebari Frecvente</button>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #contactModal="bs-modal"  tabindex="-1" role="dialog"
    [config]="{backdrop: 'static'}" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
        <div class="modal-content contact-modal">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left"> Acestea sunt datele noastre de contact</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="contactModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="number">
                    <p>Numarul nostru de telefon: {{phoneNo}}</p>
                </div>
                <div class="email">
                    <p>Adresa noastra de email: {{email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>