@font-face {
  font-family: HelveticaNeueLight;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/helvetica-neue/HelveticaNeueLTStd-Lt.otf')
}

@font-face {
  font-family: HelveticaNeueBold;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/helvetica-neue/HelveticaNeueLTStd-Bd.otf')
}
