.card-deck {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;

  .card-deck-row {
    width: 100%;
  }

  .card-deck-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .property {
    position: relative;
    max-width: 450px;
    margin: 10px auto;
  }
}

h4 {
  color: black;
}
.action-btn {
  background: black !important;
}
.properties-card {
  max-height: 500px;
  overflow: auto;
}
thead{
  white-space: nowrap;
  th{
    color: black !important;
  }
}
.margin{
  margin: 0 5px;
}
.action-buttons-td{
  display: block;
}